* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(50, 79, 145);
}

#calc {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    background: #211d2ba3;
    padding: 20px;
    border-radius: 10px;

}

#content form input {
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}


#backspace,
#clear {
    background-color: rgb(35, 52, 151);
    color: white;
}

#equal {
    background-color: rgb(219, 13, 13);
    color: white;
}


#res {
    padding: 10px;
}

form #nut input {
    width: 125px;
    height: 50px;
}

form #output {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}

form #output input {
    background-color: black;
    color: white;
    text-align: right;
    flex: 1;
    font-size: 25px;
}